# Analysis

In [1]:
import pandas as pd

In [2]:
arima_predictions = pd.read_csv('data/arima_predictions', index_col='date')
arima_predictions.index = pd.to_datetime(arima_predictions.index)
arima_predictions

,65807,65802,65804,65810,65806,65809
date,,,,,,
2018-05-01,124546.038914,97684.464161,148184.832451,201396.968517,62314.178082,273671.988982
2018-06-01,125169.802562,98064.249991,149353.760900,202105.993874,62429.803003,276407.338543
2018-07-01,125760.381789,98360.364776,150456.588094,202585.449081,62546.874765,278833.986536
2018-08-01,126364.401331,98595.126886,151522.163437,202962.986466,62665.393367,281084.685736
2018-09-01,126997.888221,98788.004939,152567.198616,203300.201554,62785.358809,283236.752389
2018-10-01,127659.710730,98954.192982,153601.374266,203625.686574,62906.771091,285335.216077
2018-11-01,128341.930177,99104.630583,154630.298121,203951.827314,63029.630212,287406.302377
2018-12-01,129035.991324,99246.667011,155657.218590,204283.265627,63153.936174,289465.285268
2019-01-01,129735.463268,99384.911631,156684.017391,204621.108428,63279.688976,291521.060436
2019-02-01,130436.586027,99522.036744,157711.784553,204964.980095,63406.888618,293578.808796
2019-03-01,131137.754303,99659.435493,158741.151500,205313.992029,63535.535100,295641.547752
2019-04-01,131838.703734,99797.713530,159772.484000,205667.176404,63665.628422,297711.034667
2019-05-01,132539.800069,99937.030517,160805.993931,206023.660749,63797.168584,299788.293039
2019-06-01,133241.568833,100077.321762,161841.804030,206382.721732,63930.155587,301873.918963
2019-07-01,133944.455651,100218.432047,162879.985394,206743.786216,64064.589429,303968.259609
2019-08-01,134648.749006,100360.189510,163920.579209,207106.412207,64200.470111,306071.517173
2019-09-01,135354.591894,100502.441298,164963.609332,207470.264643,64337.797633,308183.809413
2019-10-01,136062.027145,100645.066615,166009.089582,207835.092377,64476.571995,310305.204914
2019-11-01,136771.044096,100787.977625,167057.027965,208200.708582,64616.793198,312435.743619
2019-12-01,137481.612848,100931.114780,168107.429120,208566.975000,64758.461240,314575.448793
2020-01-01,138193.703838,101074.440374,169160.295731,208933.789680,64901.576122,316724.333984
2020-02-01,138907.295866,101217.932291,170215.629355,209301.077634,65046.137845,318882.407084
2020-03-01,139622.377104,101361.578804,171273.430893,209668.783798,65192.146407,321049.672687
2020-04-01,140338.942900,101505.374645,172333.700868,210036.867794,65339.601810,323226.133471

In [3]:
prophet_predictions = pd.read_csv('data/prophet_predictions.csv', index_col='date')
prophet_predictions.index = pd.to_datetime(arima_predictions.index)
prophet_predictions

,65807,65802,65804,65810,65806,65809
date,,,,,,
2018-05-01,119418.769702,94384.058508,141373.742384,192674.418682,60899.951147,258962.565831
2018-06-01,119845.590691,94708.620711,141784.823179,193358.768033,61014.305975,259409.559140
2018-07-01,120259.053304,95008.056504,142120.825470,194120.748669,61195.753461,259653.231135
2018-08-01,120786.442542,95297.404547,142483.723870,194712.868091,61369.159192,259989.537134
2018-09-01,121248.642841,95558.999170,142857.746050,195206.261574,61553.670251,260326.807261
2018-10-01,121689.646257,95811.596339,143209.276756,195663.638491,61738.935876,260617.089699
2018-11-01,122081.086991,96054.583240,143576.683793,196182.205729,61945.563503,260939.924049
2018-12-01,122469.785702,96302.514425,143952.659296,196613.747829,62057.441710,261469.548738
2019-01-01,122863.317555,96610.398522,144370.783688,197055.539702,62084.640956,262154.731670
2019-02-01,123180.890391,96849.291269,144740.137020,197436.368424,62095.146452,262780.555823
2019-03-01,123730.804727,96833.119911,145142.913708,197346.328640,62155.055294,261876.882703
2019-04-01,124053.552023,97154.322961,145657.875960,198056.561423,62515.910977,263184.563641
2019-05-01,123999.816991,97254.264871,145594.958086,198212.693865,62555.409417,263133.654928
2019-06-01,124469.481198,97648.394888,146059.125024,199115.102731,62642.812216,263823.179711
2019-07-01,124880.868822,97972.490521,146406.272377,199913.405382,62741.882002,264038.129910
2019-08-01,125466.631242,98252.690958,146767.719886,200377.398276,62877.178037,264219.745140
2019-09-01,125963.685217,98468.740103,147153.474009,200685.831215,63102.542949,264466.222554
2019-10-01,126416.740938,98688.849768,147494.519491,201176.929149,63386.753372,264601.767612
2019-11-01,126696.334610,98894.760508,147826.661601,201746.638217,63621.465903,264902.144726
2019-12-01,127070.233087,99174.442951,148194.536870,202212.222251,63707.912363,265616.752851
2020-01-01,127517.386168,99590.750794,148669.931055,202847.907779,63653.907614,266730.304083
2020-02-01,127809.488868,99904.390392,149031.206487,203300.825200,63584.750557,267542.519975
2020-03-01,128064.701521,100012.391682,149444.405223,203721.232062,63874.360932,268200.753897
2020-04-01,128651.011816,100255.124506,149841.237435,204064.850838,63873.122266,267778.466056

todo:
- for each zip code, decide which model to use: ARIMA or Prophet
    - reference graphs in the visualizations folder, which include cross validation rmse values
    - ARIMA models generally have the lower rmse's, but based on the charts may be overfitting, and have larger confidence interval ranges
    - confidence interval is the shaded blue area around the prediction, and indicates an 80% certainty that the value will fall in that range
- choose which zip code is best to invest in
    - multiple ways to determine "best": highest average slope between points, greatest roi between endpoints, just pick one
    - the answer might be the same between ARIMA and Prophet
- caveats
    - even our predicted/future data is already months old, so this isn't good data to make current investments from
    - 2 years out may be too far for accurate predictions
- future work
    - more recent data
    - determine good length to forecast over (we just chose 2 years arbitrarily)

### test -Deric

In [5]:
from scipy import stats
import datetime as dt

arima_predictions['date_ordinal'] = arima_predictions.index.map(dt.datetime.toordinal)

for col in arima_predictions.columns[:-1]:
    slope = stats.linregress(arima_predictions['date_ordinal'], arima_predictions[col])[0]
    print(col, 'slope:', round(slope,2))

65807 slope: 22.76
65802 slope: 4.99
65804 slope: 34.19
65810 slope: 11.8
65806 slope: 4.32
65809 slope: 69.41